:root {
  /* Colors */
  --global-color-alpha-xx-light: #c8c1eb;
  --global-color-alpha-x-light: #7665cd;
  --global-color-alpha: #4b38a8;
  --global-color-alpha-x-dark: #2f236c;
  --global-color-alpha-xx-dark: #1b143d;

  --global-color-beta-xx-light: #fce2c5;
  --global-color-beta-x-light: #f8bc77;
  --global-color-beta: #f4962a;
  --global-color-beta-x-dark: #9b5608;
  --global-color-beta-xx-dark: #4e2b04;

  --global-color-gray-xxxx-light: #f0f0f2;
  --global-color-gray-xxx-light: #e0dfe6;
  --global-color-gray-xx-light: #cecdd4;
  --global-color-gray-x-light: #acaab3;
  --global-color-gray: #908e99;
  --global-color-gray-x-dark: #767480;
  --global-color-gray-xx-dark: #5b5966;
  --global-color-gray-xxx-dark: #3f3e4a;
  --global-color-gray-xxxx-dark: #1e1d26;
  --global-color-gray-xxxxx-dark: #010103;

  --global-color-transparent: #01010333;

  --global-color-white: var(--global-color-gray-xxxx-light);

  --global-color-dark: var(--global-color-alpha-xx-dark);
  --global-color-light: var(--global-color-alpha-xx-light);

  --global-font-color: var(--global-color-gray-xxxxx-dark);
  --global-background-color: var(--global-color-gray-xxxx-light);

  /* Whitespace */
  --global-baseline: 8px;
  --global-whitespace-xs: calc(var(--global-baseline) / 2); /* = 4px */
  --global-whitespace-sm: var(--global-baseline); /* = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2); /* = 16px */
  --global-whitespace-lg: calc(var(--global-whitespace-sm) * 3); /* = 24px*/
  --global-whitespace-xl: calc(var(--global-whitespace-md) * 2); /* = 32px */
  --global-whitespace-xxl: calc(var(--global-whitespace-md) * 3); /* = 48px */

  /* Input */
  --global-input-borderColor: var(--global-color-xx-white);
  --global-border-width: 1px;
  --global-input-boxShadow: 0 0 0 2px var(--global-transparent-color-alpha);
  --global-input-color: var(--global-color-white);

  --global-color-border-dark: #656565;
}

@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-Light.ttf);
  font-weight: 300;
}
@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-Medium.ttf);
  font-weight: 500;
}
@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-Bold.ttf);
  font-weight: 700;
}

html {
  line-height: calc(1rem * 1.5);
  font-family: 'Urbanist', sans-serif;
  font-size: 1em;
  color: var(--global-color-gray-xxxxx-dark);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-color-gray-xxxx-light);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
  background: var(--global-color-alpha);
  color: var(--global-color-white);
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: calc(1rem * 2.25);
  line-height: calc(1rem * 3);
  margin: 0 0 var(--global-whitespace-lg);
}

h2 {
  font-size: calc(1rem * 2);
  line-height: calc(1rem * 2.5);
  margin: 0 0 var(--global-whitespace-lg);
}

h3 {
  font-size: calc(1rem * 1.625);
  line-height: calc(1rem * 2);
  margin: 0 0 var(--global-whitespace-lg);
}

h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: calc(1rem * 1.5);
  margin: 0 0 var(--global-whitespace-lg);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-whitespace-lg);
}

ul,
ol {
  padding-left: var(--global-whitespace-lg);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: calc(1rem * 1.5);
  line-height: calc(1rem * 2);
  margin: 0 0 var(--global-whitespace-lg);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: calc(1rem * 0.75);
  line-height: 1rem;
  margin-top: var(--global-baseline);
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 var(--global-whitespace-lg);
}

a {
  transition: all var(--transition-alpha);
  color: var(--global-color-alpha);
  outline-color: var(--global-color-alpha);
  outline-width: medium;
  outline-offset: 2px;
}

a:visited,
a:active {
  color: var(--global-color-alpha);
}

a:hover,
a:focus {
  color: var(--global-color-alpha);
}

label,
input {
  display: inline-block;
}

select {
  width: 100%;
}

input::placeholder {
  color: var(--global-placeholder-color);
}

input:disabled {
  cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 26em;
  width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/
.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/
.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/
.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
/*
    Component: app
    ---
    Website main app
*/

.c-app {
  --sidebar-bg-color: var(--global-color-alpha-xx-dark);
  --topbat-bg-color: var(--global-color-gray-xxx-light);
  --app-bg-color: var(--global-color-gray-xxxx-light);
  min-height: 100vh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 80px 1fr;
}

.c-app__logo {
  background-color: var(--sidebar-bg-color);
}

.c-app__sidebar {
  background-color: var(--sidebar-bg-color);
}

.c-app__topbar {
  background-color: var(--topbat-bg-color);
}

.c-app__main {
  background-color: var(--app-bg-color);
}

/*
    Component: Logo
    ---
    Website main logo
*/
.c-logo {
  width: 48px;
  padding: 16px 0;
  display: block;
  margin: 0 auto;
}

/*
    Component: Topbar
    ---
    Website main Topbar
*/
.c-topbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 100%;
  padding: 0 32px;
}

.c-topbar__title {
  font-size: 2em;
  font-weight: 700;
  color: var(--global-font-color);
  margin-bottom: 0;
}

.c-topbar__user {
  display: flex;
  align-items: center;
  gap: 32px;
}

.c-topbar-icon {
  width: 32px;
  height: 100%;
  display: grid;
  place-items: center;
  color: var(--global-color-gray-xxxxx-dark);
}

.c-topbar__bell {
  position: relative;
}

/* Uncomment to show notification dot
.c-topbar__bell::before {
  content: '';
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background-color: var(--global-color-beta);
  position: absolute;
  top: -4px;
  right: 0;
}
*/

.c-topbar__photo {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background-color: var(--global-color-alpha-x-light);
  background-image: url(../img/user.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  border: 2px solid var(--global-color-gray-xxxxx-dark);
  box-shadow: 1px 1px 1px 1px var(--global-color-transparent);
}

/*
    Component: Sidebar
    ---
    Website main Sidebar
*/
.c-sidebar__nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 72px 16px 32px;
}

.c-sidebar__nav--top {
  display: flex;
  flex-direction: column;
  gap: 32px;
  position: relative;
}
.c-sidebar__link,
.c-sidebar__link:visited {
  z-index: 1;
  width: 100%;
  color: var(--global-color-gray-xxxx-light);
}

.c-sibebar--active {
  background-color: var(--global-color-gray-xxxx-light);
  border-radius: 100px 0 0 100px;
  width: 70px;
  height: 56px;
  position: absolute;
  right: -16px;
  top: -16px;
  display: block;
}

.c-sidebar__link--icon {
  width: 100%;
}
/*
    Component: grid
    ---
    Website main grid
*/
.c-grid {
  display: grid;
  grid-template-columns: repeat(10, 100px);
  grid-template-rows: repeat(3, 100px);
  row-gap: 32px;
  width: 100%;
  max-width: 950px;
}

/*
  primary color
*/
.c-grid__item:nth-child(1) {
  background-color: var(--global-color-alpha-xx-light);
}
.c-grid__item:nth-child(2) {
  background-color: var(--global-color-alpha-x-light);
}
.c-grid__item:nth-child(3) {
  background-color: var(--global-color-alpha);
}
.c-grid__item:nth-child(4) {
  background-color: var(--global-color-alpha-x-dark);
}
.c-grid__item:nth-child(5) {
  background-color: var(--global-color-alpha-xx-dark);
}

/*
  secondary color
*/
.c-grid__item:nth-child(6) {
  grid-row-start: 2;
  background-color: var(--global-color-beta-xx-light);
}
.c-grid__item:nth-child(7) {
  grid-row-start: 2;
  background-color: var(--global-color-beta-x-light);
}
.c-grid__item:nth-child(8) {
  grid-row-start: 2;
  background-color: var(--global-color-beta);
}
.c-grid__item:nth-child(9) {
  grid-row-start: 2;
  background-color: var(--global-color-beta-x-dark);
}
.c-grid__item:nth-child(10) {
  grid-row-start: 2;
  background-color: var(--global-color-beta-xx-dark);
}

/*
  grayscale
*/
.c-grid__item:nth-child(11) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-xxxx-light);
}
.c-grid__item:nth-child(12) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-xxx-light);
}
.c-grid__item:nth-child(13) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-xx-light);
}
.c-grid__item:nth-child(14) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-x-light);
}
.c-grid__item:nth-child(15) {
  grid-row-start: 3;
  background-color: var(--global-color-gray);
}
.c-grid__item:nth-child(16) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-x-dark);
}
.c-grid__item:nth-child(17) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-xx-dark);
}
.c-grid__item:nth-child(18) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-xxx-dark);
}
.c-grid__item:nth-child(19) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-xxxx-dark);
}
.c-grid__item:nth-child(20) {
  grid-row-start: 3;
  background-color: var(--global-color-gray-xxxxx-dark);
}
