:root {
  /* Colors */
  --global-color-alpha-xx-light: #c8c1eb;
  --global-color-alpha-x-light: #7665cd;
  --global-color-alpha: #4b38a8;
  --global-color-alpha-x-dark: #2f236c;
  --global-color-alpha-xx-dark: #1b143d;

  --global-color-beta-xx-light: #fce2c5;
  --global-color-beta-x-light: #f8bc77;
  --global-color-beta: #f4962a;
  --global-color-beta-x-dark: #9b5608;
  --global-color-beta-xx-dark: #4e2b04;

  --global-color-gray-xxxx-light: #f0f0f2;
  --global-color-gray-xxx-light: #e0dfe6;
  --global-color-gray-xx-light: #cecdd4;
  --global-color-gray-x-light: #acaab3;
  --global-color-gray: #908e99;
  --global-color-gray-x-dark: #767480;
  --global-color-gray-xx-dark: #5b5966;
  --global-color-gray-xxx-dark: #3f3e4a;
  --global-color-gray-xxxx-dark: #1e1d26;
  --global-color-gray-xxxxx-dark: #010103;

  --global-color-transparent: #01010333;

  --global-color-white: var(--global-color-gray-xxxx-light);

  --global-color-dark: var(--global-color-alpha-xx-dark);
  --global-color-light: var(--global-color-alpha-xx-light);

  /* Whitespace */
  --global-baseline: 8px;
  --global-whitespace-xs: calc(var(--global-baseline) / 2);
  /* = 4px */
  --global-whitespace-sm: var(--global-baseline);
  /* = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2);
  /* = 16px */
  --global-whitespace-lg: calc(var(--global-whitespace-sm) * 3);
  /* = 24px*/
  --global-whitespace-xl: calc(var(--global-whitespace-md) * 2);
  /* = 32px */
  --global-whitespace-xxl: calc(var(--global-whitespace-md) * 3);
  /* = 48px */

  /* Input */
  --global-input-borderColor: var(--global-color-xx-white);
  --global-border-width: 1px;
  --global-input-boxShadow: 0 0 0 2px var(--global-transparent-color-alpha);
  --global-input-color: var(--global-color-white);

  --global-color-border-dark: #656565;
}

@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Urbanist';
  src: url(../fonts/Urbanist-Bold.ttf);
  font-weight: 700;
}

html {
  line-height: calc(1rem * 1.5);
  font-family: 'Urbanist', sans-serif;
  font-size: 1em;
  color: var(--global-color-gray-xxxxx-dark);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-color-gray-xxxx-light);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
  background: var(--global-color-alpha);
  color: var(--global-color-white);
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: calc(1rem * 2.25);
  line-height: calc(1rem * 3);
  margin: 0 0 var(--global-whitespace-lg);
}

h2 {
  font-size: calc(1rem * 2);
  line-height: calc(1rem * 2.5);
  margin: 0 0 var(--global-whitespace-lg);
}

h3 {
  font-size: calc(1rem * 1.625);
  line-height: calc(1rem * 2);
  margin: 0 0 var(--global-whitespace-lg);
}

h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: calc(1rem * 1.5);
  margin: 0 0 var(--global-whitespace-lg);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-whitespace-lg);
}

ul,
ol {
  padding-left: var(--global-whitespace-lg);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: calc(1rem * 1.5);
  line-height: calc(1rem * 2);
  margin: 0 0 var(--global-whitespace-lg);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: calc(1rem * 0.75);
  line-height: 1rem;
  margin-top: var(--global-baseline);
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 var(--global-whitespace-lg);
}

a {
  transition: all var(--transition-alpha);
  color: var(--global-color-alpha);
  outline-color: var(--global-color-alpha);
  outline-width: medium;
  outline-offset: 2px;
}

a:active {
  color: var(--global-color-alpha);
}

a:hover,
a:focus {
  color: var(--global-color-alpha);
}

label,
input {
  display: inline-block;
}

select {
  width: 100%;
}

input::placeholder {
  color: var(--global-placeholder-color);
}

input:disabled {
  cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 26em;
  width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/
.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/
.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/
.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
  background-color: var(--global-color-alpha-xx-dark);
  padding: 24px 32px 32px 32px;
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.c-header__nav {
  display: none;
}

@media (min-width: 992px) {
  .c-header__nav {
    display: block;
  }

  .c-header__mobile-nav-trigger {
    display: none;
  }
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
  height: 32px;
  display: flex;
  align-items: center;
}

.c-logo__symbol {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .c-logo {
    height: 58px;
    width: 58px;
  }
}

/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
}

.c-nav-trigger__svg {
  fill: var(--global-color-gray-xxxx-light);
  height: 100%;
}

.c-nav {
  font-size: 18px;
  line-height: 24px;
}

.c-nav--meta {
  margin-right: 16px;
}

.c-nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  display: block;
  padding: 8px 0;
}

.c-nav__link:after {
  content: '';
  pointer-events: none;
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--global-color-gray-xxxx-light);
  transition: all 0.1s ease-in-out;
}

.c-nav__link--meta {
  border: 2px solid var(--global-color-gray-xx-light);
}

.is-selected,
.c-nav__link,
.c-nav__link:active {
  color: var(--global-color-gray-xxxx-light);
  text-transform: uppercase;
  transition: color 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}

.c-nav__link:focus,
.c-nav__link:hover {
  color: var(--global-color-gray-xxxx-light);
}

.c-nav__link:focus:after,
.c-nav__link:hover:after {
  width: 100%;
  max-width: 30px;
  background-color: var(--global-color-beta);
}

.c-nav__link--meta:focus:after,
.c-nav__link--meta:hover:after {
  display: none;
}

.c-nav__link--meta:focus,
.c-nav__link--meta:hover {
  border-color: var(--global-color-beta);
}

.c-nav__link:active {
  color: var(--global-color-beta);
}

.c-nav__link:active:after {
  background-color: var(--global-color-beta);
}

.is-selected:after {
  width: 100%;
  max-width: 30px;
}

@media (min-width: 992px) {
  .c-nav__list {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
  }

  .is-selected,
  .c-nav__link {
    padding: 4px 16px;
  }

  .c-nav__link:focus:after,
  .c-nav__link:hover:after {
    max-width: 30%;
  }

  .is-selected:after {
    max-width: 30%;
  }
}

/*
      Component: mobile nav
      ---
      Dedicated mobile nav component
  */

.c-mobile-nav {
  position: fixed;
  top: -100%;
  right: 0;
  left: 0;
  height: 100dvh;
  pointer-events: none;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.has-mobile-nav .c-mobile-nav {
  top: 0;
  pointer-events: auto;
}

.c-mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.c-mobile-nav__bg {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #202024;
  transition: opacity 0.5s ease;
}

.has-mobile-nav .c-mobile-nav__bg {
  opacity: 0.5;
}

.c-mobile-nav__body {
  position: relative;
  padding: 24px;
  height: 80dvh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 72dvh, 0% 100%);
  background-color: var(--global-color-alpha-xx-dark);
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 0.25s ease;
}

.has-mobile-nav .c-mobile-nav__body {
  opacity: 1;
  transform: translateX(0%);
}

.c-page {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.25s ease;
}

.has-mobile-nav .c-page {
  opacity: 0.5;
  transform: translateX(25%);
}

@media (min-width: 768px) {
  .c-mobile-nav__body {
    padding: 48px;
  }

  .c-nav__link:focus:after,
  .c-nav__link:hover:after {
    width: calc(50% - 16px);
  }
}

@media (min-width: 992px) {

  /* Hide the mobile nav on larger viewports even whent it's open on smaller screens */
  .c-mobile-nav {
    display: none !important;
  }

  .c-nav__link:after {
    left: 16px;
  }
}

.c-home__background {
  position: absolute;
  top: 0;
  left: 0;
  background: url(../img/Background.jpg) no-repeat center center / cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.c-home__background-gradiant {
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 80%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.c-home__background-man {
  position: absolute;
  top: 0;
  right: 0;
  background: url(../img/man.svg) no-repeat center center / cover;
  width: 50%;
  height: 100%;
  z-index: -1;
  display: none;
}

.c-home__content {
  padding: 32px;
  max-width: 400px;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.c-home__title {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 16px;
}

.c-home__title--highlight1 {
  color: var(--global-color-beta);
}

.c-home__title--highlight2 {
  color: var(--global-color-alpha);
}

.c-home__description {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 16px;
}

.c-home__button:focus,
.c-home__button:hover {
  background-color: var(--global-color-beta);
  color: var(--global-color-alpha-xx-dark);
}

.c-home__button {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid var(--global-color-beta);
  color: var(--global-color-gray-xxxxx-dark);
  background-color: transparent;
  transition: all 0.25s ease;
}

.c-home__button:active {
  background-color: transparent;
}

@media (min-width: 768px) {
  .c-home__background-man {
    display: block;
  }
}

@media (min-width: 992px) {
  .c-home__background-man {
    display: block;
  }

  .c-home__title {
    font-size: 64px;
  }

  .c-home__description {
    font-size: 24px;
  }

  .c-home__content {
    max-width: 700px;
    left: 5vw;
  }

  .c-home__button {
    font-size: 16px;
    padding: 16px 32px;
  }
}

.c-Routes__touw {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.c-touw {
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.c-touw__backgouround {
  transition: all 200ms ease-in;
}

.c-touw:hover .c-touw__backgouround {
  transform: scale(1.25);
}

.c-touw:hover .c-touw__content--button {
  transform: scale(1.20);
}

.c-touw__backgouround-1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Wall/sander.jpg) no-repeat center center / cover;
  filter: sepia(50%) saturate(350%) hue-rotate(210deg) brightness(50%) blur(1px);
  transform: scale(1.05);
  z-index: -1;
}

.c-touw__backgouround-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(../img/Wall/huygh.jpg) no-repeat center center / cover;
  filter: sepia(50%) saturate(350%) hue-rotate(210deg) brightness(50%) blur(1px);
  transform: scale(1.05);
  z-index: -1;
}

.c-touw__content {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--global-color-gray-xxxx-light);
}

.c-touw__content--button {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid var(--global-color-beta);
  color: var(--global-color-gray-xxxxx-light);
  background-color: transparent;
  transition: all 0.25s ease;
}

.c-touw__content--button:focus,
.c-touw__content--button:hover {
  background-color: var(--global-color-beta);
  color: var(--global-color-alpha-xxxx-light);
}

.c-touw__content--button:focus,
.c-touw__content--button:hover {
  background-color: var(--global-color-beta);
  color: var(--global-color-alpha-xxxx-light);
}

.c-touw__content--button:active {
  background-color: transparent;
}

@media (min-width: 768px) {
  .c-Routes__touw {
    flex-direction: row;
  }

  .c-touw {
    max-width: 300px;
    height: 100dvh;
  }
}

/*
  Utility: Text
*/

.u-mb-clear {
  margin-bottom: 0;
}

.c-detailRoute {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  position: relative;
  top: 100px;
  padding: 16px;
}

@media (min-width: 768px) {

  .c-detailRoute {
    padding: 32px;
    flex-direction: row;
    align-items: flex-start;
  }
}

.c-wall {
  display: grid;
  place-content: center;
  gap: 10px;
  grid-template-columns: repeat(20, 4px);
  grid-template-rows: repeat(71, 4px);
  background-color: var(--global-color-gray-xxx-light);
  padding: 16px;
  position: relative;
  box-shadow: 2px 2px 6px 0px var(--global-color-gray-xx-light);
}

.c-wall__grid--item {
  background-color: var(--global-color-gray-x-light);
}

.c-wall__grid--item--grip:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background-image: url(../img/grips/Bak.svg);
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 100%;
}

.c-wall__grid--item--grip--bak:after {
  background: url(../img/grips/Bak.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--sloper:after {
  background: url(../img/grips/Sloper.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--crimp:after {
  background: url(../img/grips/Crimp.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--pocket:after {
  background: url(../img/grips/Pocket.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--jug:after {
  background: url(../img/grips/Jug.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--undercling:after {
  background: url(../img/grips/Undercling.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--mono:after {
  background: url(../img/grips/Mono.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--bidoigt:after {
  background: url(../img/grips/Bidoigt.svg) no-repeat center center / 100%;
}

.c-wall__svg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  height: 100%;
}

.js-path {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: path 2s linear forwards;
}

@keyframes path {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 768px) {
  .c-wall {
    gap: 16px;
    padding: 32px;
  }

  .c-wall__svg {
    padding: 32px;
  }

  .c-wall__grid--item--grip::after {
    width: 24px;
    height: 24px;
    left: -12px;
    top: -12px;
  }
}

/*

  Wall options

*/
.c-wall__options {
  width: 100%;
  max-width: 302px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.c-wall__routes {
  width: 100%;
  padding: 24px;
  background-color: var(--global-color-alpha-xx-light);
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0px var(--global-color-gray-xx-light);
}

.c-wall__routes--title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(--global-color-gray-xxxxx-dark);
  margin-bottom: 0;
}

.c-wall__routes--subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color: var(--global-color-gray-xxxxx-dark);
  margin-bottom: 16px;
}

.c-wall__routes--options {
  /* responive grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.c-label--options {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: var(--global-color-gray-xxx-light);
  background-color: var(--global-color-alpha);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.c-option--hidden:checked+.c-label--options {
  background-color: var(--global-color-alpha-x-dark);
  color: var(--global-color-gray-xxxx-light);
  box-shadow: 0px 0px 0px 4px var(--global-color-beta-x-light);
}

.c-option--hidden:hover+.c-label--options,
.c-option--hidden:focus+.c-label--options {
  box-shadow: 0px 0px 0px 4px var(--global-color-beta);
}

.c-wall__star {
  fill: var(--global-color-gray-xxxx-light);
  width: 20px;
  height: 20px;
}

.c-wall__star--fill {
  fill: var(--global-color-beta);
}

.c-wall__rating--subtitle {
  font-size: 12px;
}

.c-wall__routes--goback {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: var(--global-color-gray-xxxx-light);
  background-color: var(--global-color-alpha);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  transition: all 0.2s ease-in-out;
}

.c-wall__routes--goback:hover,
.c-wall__routes--goback:focus {
  background-color: var(--global-color-alpha-xx-dark);
  color: var(--global-color-gray-xxxx-light);
  box-shadow: 2px 2px 2px var(--global-color-alpha);
}

.c-wall__routes--goback:active {
  background-color: var(--global-color-alpha-x-dark);
}

@media (min-width: 768px) {
  .c-wall__routes {
    padding: 24px;
  }

  .c-wall__routes--title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
  }

  .c-wall__routes--subtitle {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }

  .c-wall__rating--title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .c-wall__rating--subtitle {
    margin-bottom: 4px;
  }

  .c-wall__rating--subtitle {
    font-size: 14px;
    font-weight: 200;
  }
}

.u-mb-xs {
  margin-bottom: 4px;
}

.u-mb-s {
  margin-bottom: 8px;
}

.c-wall__from {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 24px;
  gap: 24px;
}

.c-comment__area {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.c-commen__button {
  background-color: var(--global-color-alpha);
  border: none;
  border-radius: 4px;
  color: var(--global-color-gray-xxxx-light);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1rem;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.stars {
  cursor: pointer;
  display: flex;
  gap: 4px;
  padding: 4px 0;
}

.stars:hover .star path {
  fill: #ffd055 !important;
}

.star path {
  fill: #d8d8d8;
}

.star:hover~.star path {
  fill: #d8d8d8 !important;
}

.stars[data-stars] .star path {
  fill: #ffd055;
}


.stars[data-stars="1"] .star:nth-child(1)~.star path {
  fill: #d8d8d8;
}


.stars[data-stars="2"] .star:nth-child(2)~.star path {
  fill: #d8d8d8;
}


.stars[data-stars="3"] .star:nth-child(3)~.star path {
  fill: #d8d8d8;
}


.stars[data-stars="4"] .star:nth-child(4)~.star path {
  fill: #d8d8d8;
}


.stars[data-stars="5"] .star:nth-child(5)~.star path {
  fill: #d8d8d8;
}

.c-comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 24px;
}