:root {
  /* Colors */
  --global-color-alpha-xx-light: #c8c1eb;
  --global-color-alpha-x-light: #7665cd;
  --global-color-alpha: #4b38a8;
  --global-color-alpha-x-dark: #2f236c;
  --global-color-alpha-xx-dark: #1b143d;

  --global-color-beta-xx-light: #fce2c5;
  --global-color-beta-x-light: #f8bc77;
  --global-color-beta: #f4962a;
  --global-color-beta-x-dark: #9b5608;
  --global-color-beta-xx-dark: #4e2b04;

  --global-color-gray-xxxx-light: #f0f0f2;
  --global-color-gray-xxx-light: #e0dfe6;
  --global-color-gray-xx-light: #cecdd4;
  --global-color-gray-x-light: #acaab3;
  --global-color-gray: #908e99;
  --global-color-gray-x-dark: #767480;
  --global-color-gray-xx-dark: #5b5966;
  --global-color-gray-xxx-dark: #3f3e4a;
  --global-color-gray-xxxx-dark: #1e1d26;
  --global-color-gray-xxxxx-dark: #010103;

  --global-color-transparent: #01010333;

  --global-color-white: var(--global-color-gray-xxxx-light);

  --global-color-dark: var(--global-color-alpha-xx-dark);
  --global-color-light: var(--global-color-alpha-xx-light);

  /* Whitespace */
  --global-baseline: 8px;
  --global-whitespace-xs: calc(var(--global-baseline) / 2);
  /* = 4px */
  --global-whitespace-sm: var(--global-baseline);
  /* = 8px */
  --global-whitespace-md: calc(var(--global-baseline) * 2);
  /* = 16px */
  --global-whitespace-lg: calc(var(--global-whitespace-sm) * 3);
  /* = 24px*/
  --global-whitespace-xl: calc(var(--global-whitespace-md) * 2);
  /* = 32px */
  --global-whitespace-xxl: calc(var(--global-whitespace-md) * 3);
  /* = 48px */

  /* Input */
  --global-input-borderColor: var(--global-color-xx-white);
  --global-border-width: 1px;
  --global-input-boxShadow: 0 0 0 2px var(--global-transparent-color-alpha);
  --global-input-color: var(--global-color-white);

  --global-color-border-dark: #656565;
}

@font-face {
  font-family: 'Urbanist';
  src: url(https://klimapp2b47b.blob.core.windows.net/meeclimbcontent/Urbanist-Light.ttf);
  font-weight: 300;
}

@font-face {
  font-family: 'Urbanist';
  src: url(https://klimapp2b47b.blob.core.windows.net/meeclimbcontent/Urbanist-Regular.ttf);
  font-weight: 400;
}

@font-face {
  font-family: 'Urbanist';
  src: url(https://klimapp2b47b.blob.core.windows.net/meeclimbcontent/Urbanist-Medium.ttf);
  font-weight: 500;
}

@font-face {
  font-family: 'Urbanist';
  src: url(https://klimapp2b47b.blob.core.windows.net/meeclimbcontent/Urbanist-Bold.ttf);
  font-weight: 700;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-thumb {
  background: var(--global-color-beta);
  border: 8px solid var(--global-color-alpha-xx-dark);
  border-radius: 999px;
  max-height: 100px !important;
}

::-webkit-scrollbar-track {
  background: var(--global-color-alpha-xx-dark);
}

html {
  line-height: calc(1rem * 1.5);
  font-family: 'Urbanist', sans-serif;
  font-size: 1em;
  color: var(--global-color-gray-xxxxx-dark);
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--global-color-gray-xxxx-light);
}

*,
*:before,
*:after {
  box-sizing: inherit;
  font-family: inherit;
  margin: 0;
  padding: 0;
}

/*
* Remove text-shadow in selection highlight:
* https://twitter.com/miketaylr/status/12228805301
*
* Customize the background color to match your design.
*/

::selection {
  background: var(--global-color-alpha);
  color: var(--global-color-white);
  text-shadow: none;
}

/*------------------------------------*\
#Elements
\*------------------------------------*/

/*
Elements: Images
---
Default markup for images to make them responsive
*/

img {
  max-width: 100%;
  vertical-align: top;
}

/*
    Elements: typography
    ---
    Default markup for typographic elements
*/

h1,
h2,
h3 {
  font-weight: 600;
}

h1 {
  font-size: calc(1rem * 2.25);
  line-height: calc(1rem * 3);
  margin: 0 0 var(--global-whitespace-lg);
}

h2 {
  font-size: calc(1rem * 2);
  line-height: calc(1rem * 2.5);
  margin: 0 0 var(--global-whitespace-lg);
}

h3 {
  font-size: calc(1rem * 1.625);
  line-height: calc(1rem * 2);
  margin: 0 0 var(--global-whitespace-lg);
}

h4,
h5,
h6 {
  font-size: 1rem;
  font-weight: 600;
  line-height: calc(1rem * 1.5);
  margin: 0 0 var(--global-whitespace-lg);
}

p,
ol,
ul,
dl,
table,
address,
figure {
  margin: 0 0 var(--global-whitespace-lg);
}

ul,
ol {
  padding-left: var(--global-whitespace-lg);
}

li ul,
li ol {
  margin-bottom: 0;
}

blockquote {
  font-style: normal;
  font-size: calc(1rem * 1.5);
  line-height: calc(1rem * 2);
  margin: 0 0 var(--global-whitespace-lg);
}

blockquote * {
  font-size: inherit;
  line-height: inherit;
}

figcaption {
  font-weight: 400;
  font-size: calc(1rem * 0.75);
  line-height: 1rem;
  margin-top: var(--global-baseline);
}

hr {
  border: 0;
  height: 1px;
  background: LightGrey;
  margin: 0 0 var(--global-whitespace-lg);
}

a {
  transition: all var(--transition-alpha);
  color: var(--global-color-alpha);
  outline-color: var(--global-color-alpha);
  outline-width: medium;
  outline-offset: 2px;
}

a:active {
  color: var(--global-color-alpha);
}

a:hover,
a:focus {
  color: var(--global-color-alpha);
}

label,
input {
  display: inline-block;
}

select {
  width: 100%;
}

input::placeholder {
  color: var(--global-placeholder-color);
}

input:disabled {
  cursor: not-allowed;
}

/*------------------------------------*\
#OBJECTS
\*------------------------------------*/
/*
    Objects: Container
    ---
    Creates a horizontal container that sets de global max-width
*/
.o-container {
  margin-left: auto;
  margin-right: auto;
  max-width: 26em;
  width: 100%;
}

/*
    Objects: List
    ---
    Small reusable object to remove default list styling from lists
*/
.o-list {
  list-style: none;
  padding: 0;
}

/*
    Object: Button reset
    ---
    Small button reset object
*/
.o-button-reset {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
  appearance: none;
}

/*
    Object: Hide accessible
    ---
    Accessibly hide any element
*/
.o-hide-accessible {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

/*------------------------------------*\
#COMPONENTS
\*------------------------------------*/
/*
    Component: header
    ---
    Main header of the website
*/

.c-header {
  background-color: var(--global-color-alpha-xx-dark);
  padding: 24px 32px 32px 32px;
  clip-path: polygon(0 0, 100% 0, 100% 66%, 0% 100%);
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  position: fixed;
  z-index: 1;
  top: 0;
  width: 100%;
}

.c-header__nav {
  display: none;
}

@media (min-width: 992px) {
  .c-header__nav {
    display: block;
  }

  .c-header__mobile-nav-trigger {
    display: none;

  }
}

/*
    Component: Logo
    ---
    Website main logo
*/

.c-logo {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  outline: none;
  transition: transform .2s ease-in-out;

}

.c-logo:hover {
  transform: scale(1.1);
  fill: var(--global-color-alpha-xx-light);
}

.c-logo__symbol {
  height: 100%;
  width: 100%;
}

@media (min-width: 768px) {
  .c-logo {
    height: 60px;
  }

  .c-db-mobile-nav__header>.c-logo {
    height: 40px;
  }
}

/*
    Component: Nav
    ---
    Main navigation of the site
*/

.c-nav-trigger {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
}

.c-nav-trigger__svg {
  fill: var(--global-color-gray-xxxx-light);
  height: 100%;
}

.c-nav {
  font-size: 18px;
  line-height: 24px;
}

.c-nav--meta {
  margin-right: 16px;
}

.c-nav__link {
  text-decoration: none;
  font-weight: 400;
  font-size: 18px;
  display: block;
  padding: 8px 0;
  outline: none;
}

.c-nav__link:after {
  content: '';
  pointer-events: none;
  bottom: -2px;
  left: 0;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: var(--global-color-gray-xxxx-light);
  transition: all 0.1s ease-in-out;
}

.c-nav__link--meta {
  border: 2px solid var(--global-color-gray-xx-light);
}

.is-selected,
.c-nav__link,
.c-nav__link:active {
  color: var(--global-color-gray-xxxx-light);
  text-transform: uppercase;
  transition: color 100ms cubic-bezier(0.25, 0.8, 0.25, 1);
  position: relative;
}

.c-nav__link:focus,
.c-nav__link:hover {
  color: var(--global-color-gray-xxxx-light);
}

.c-nav__link:focus:after,
.c-nav__link:hover:after {
  width: 30px;
  background-color: var(--global-color-beta);
}

.c-nav__link--meta:focus:after,
.c-nav__link--meta:hover:after {
  display: none;
}

.c-nav__link--meta:focus,
.c-nav__link--meta:hover {
  border-color: var(--global-color-beta);
}

.c-nav__link:active {
  color: var(--global-color-beta);
}

.c-nav__link:active:after {
  background-color: var(--global-color-beta);
}

.is-selected:after {
  width: 30px;
}

.c-nav__profile {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 12px;
}

.c-nav__notification {
  width: 24px;
  height: 24px;
  position: relative;
}

.c-nav__notification--symbole {
  stroke: var(--global-color-gray-xxxx-light);
  width: 100%;
  height: 100%;
}

.c-nav__profileimg {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  background: cadetblue;
  display: block;
  border: 2px solid var(--global-color-gray-xxxx-light);
  /* background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/aman.jpg) no-repeat center center / cover; */
  box-shadow: 2px 2px 6px var(--global-color-transparent);
  object-fit: cover;
}

.c-nav__profileimg:hover {
  border-color: var(--global-color-beta);

}

.has-notification::after {
  content: '';
  position: absolute;
  top: -3px;
  right: -2px;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: var(--global-color-beta);
}

@media (min-width: 992px) {
  .c-nav__list {
    display: flex;
    margin-left: -16px;
    margin-right: -16px;
  }

  .c-nav__link {
    padding: 4px 16px;
  }

  .c-nav__link:focus:after,
  .c-nav__link:hover:after {
    width: calc(50% - 16px);
  }

  .is-selected:after {
    width: calc(50% - 16px);
  }

  .c-nav__profile {
    gap: 24px;
  }

  .c-nav__notification {
    width: 32px;
    height: 32px;
  }

  .c-nav__profileimg {
    width: 44px;
    height: 44px;
  }

  .has-notification::after {
    top: -4px;
    right: -2px;
    width: 8px;
    height: 8px;
  }
}

/*
      Component: mobile nav
      ---
      Dedicated mobile nav component
  */

.c-mobile-nav {
  position: fixed;
  top: -100%;
  right: 0;
  left: 0;
  height: 100dvh;
  pointer-events: none;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.has-mobile-nav .c-mobile-nav {
  top: 0;
  pointer-events: auto;
}

.c-mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 16px;
}

.c-mobile-nav__bg {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #202024;
  transition: opacity 0.5s ease;
}

.has-mobile-nav .c-mobile-nav__bg {
  opacity: 0.5;
}

.c-mobile-nav__body {
  position: relative;
  padding: 24px;
  height: 80dvh;
  width: 100%;
  clip-path: polygon(0 0, 100% 0, 100% 72dvh, 0% 100%);
  background-color: var(--global-color-alpha-xx-dark);
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 0.25s ease;
}

.has-mobile-nav .c-mobile-nav__body {
  opacity: 1;
  transform: translateX(0%);
}

.c-page {
  opacity: 1;
  transform: translateX(0);
  transition: transform 0.25s ease;
}

.has-mobile-nav .c-page {
  opacity: 0.5;
  transform: translateX(25%);
}

@media (min-width: 768px) {
  .c-mobile-nav__body {
    padding: 48px;
  }
}

@media (min-width: 992px) {

  /* Hide the mobile nav on larger viewports even whent it's open on smaller screens */
  .c-mobile-nav {
    display: none !important;
  }

  .c-nav__link:after {
    left: 16px;
  }
}

.c-home__background {
  position: fixed;
  top: 0;
  left: 0;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Background.jpg) no-repeat center center / cover;
  width: 100%;
  height: 100%;
  z-index: -1;
}

.c-home__background-gradiant {
  position: fixed;
  top: 0;
  left: 0;
  background: linear-gradient(to left, rgba(0, 0, 0, 0) 50%, rgb(255, 255, 255) 80%);
  width: 100%;
  height: 100%;
  z-index: -1;
}

.c-home__background-man {
  position: absolute;
  top: 0;
  right: 0;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/man.svg) no-repeat center center / cover;
  width: 50%;
  height: 100%;
  z-index: -1;
  display: none;
}

.c-home__content {
  padding: 32px;
  max-width: 400px;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.c-home__title {
  font-size: 48px;
  line-height: 1.5;
  font-weight: 700;
  margin-bottom: 16px;
}

.c-home__title--highlight1 {
  color: var(--global-color-beta);
}

.c-home__title--highlight2 {
  color: var(--global-color-alpha);
}

.c-home__description {
  font-size: 18px;
  line-height: 1.5;
  font-weight: 400;
  margin-bottom: 16px;
}

.c-home__button:focus,
.c-home__button:hover {
  background-color: var(--global-color-beta);
  color: var(--global-color-alpha-xx-dark);
}

.c-home__button {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid var(--global-color-beta);
  color: var(--global-color-gray-xxxxx-dark);
  background-color: transparent;
  transition: all 0.25s ease;
}

.c-home__button:active {
  background-color: transparent;
}

@media (min-width: 768px) {
  .c-home__background-man {
    display: block;
  }
}

@media (min-width: 992px) {
  .c-home__background-man {
    display: block;
  }

  .c-home__title {
    font-size: 64px;
  }

  .c-home__description {
    font-size: 24px;
  }

  .c-home__content {
    max-width: 700px;
    left: 5vw;
  }

  .c-home__button {
    font-size: 16px;
    padding: 16px 32px;
  }
}

.c-Routes__touw {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.c-touw {
  height: 100%;
  width: 100%;
  transition: all 250ms ease-in;
  position: relative;
  z-index: 0;
  overflow: hidden;
}

.c-touw__backgouround {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  filter: sepia(50%) saturate(350%) hue-rotate(210deg) brightness(50%) blur(1px);
  transform: scale(1.05);
  z-index: -1;
  transition: all 200ms ease-in;
}

.c-touw:hover .c-touw__backgouround {
  transform: scale(1.25);
}

.c-touw:hover .c-touw__content--button {
  transform: scale(1.20);
}

.c-touw__backgouround-1 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/sander.jpg) no-repeat center center / cover;
  filter: sepia(50%) saturate(350%) hue-rotate(210deg) brightness(50%) blur(1px);
  transform: scale(1.05);
  z-index: -1;
}

.c-touw__backgouround-2 {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/huygh.jpg) no-repeat center center / cover;
  filter: sepia(50%) saturate(350%) hue-rotate(210deg) brightness(50%) blur(1px);
  transform: scale(1.05);
  z-index: -1;
}

.c-touw__content {
  width: 100%;
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: var(--global-color-gray-xxxx-light);
}

.c-touw__content--button {
  font-size: 12px;
  line-height: 1.5;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  padding: 8px 16px;
  border: 2px solid var(--global-color-beta);
  color: var(--global-color-gray-xxxxx-light);
  background-color: transparent;
  transition: all 0.25s ease;
}

.c-touw__content--button:focus,
.c-touw__content--button:hover {
  background-color: var(--global-color-beta);
  color: var(--global-color-alpha-xxxx-light);
}

.c-touw__content--button:focus,
.c-touw__content--button:hover {
  background-color: var(--global-color-beta);
  color: var(--global-color-alpha-xxxx-light);
}

.c-touw__content--button:active {
  background-color: transparent;
}

@media (min-width: 768px) {
  .c-Routes__touw {
    flex-direction: row;
  }

  .c-touw {
    max-width: 300px;
    height: 100dvh;
  }
}

/*
  Utility: Text
*/

.u-mb-clear {
  margin-bottom: 0;
}

.c-detailRoute {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 32px;
  width: 100%;
  position: relative;
  top: 100px;
  padding: 16px;
}

@media (min-width: 768px) {

  .c-detailRoute {
    padding: 32px;
    flex-direction: row;
    align-items: flex-start;
  }
}

.c-wall {
  display: grid;
  place-content: center;
  gap: 10px;
  grid-template-columns: repeat(20, 4px);
  grid-template-rows: repeat(71, 4px);
  background-color: var(--global-color-gray-xxx-light);
  padding: 16px;
  position: relative;
  box-shadow: 2px 2px 6px 0px var(--global-color-gray-xx-light);
}

.c-wall__grid--item {
  background-color: var(--global-color-gray-x-light);
  position: relative;
}

.c-wall__grid--item:after {
  content: ' ';
  position: relative;
  display: block;
  top: -6px;
  left: -6px;
  padding: 8px;
}

.c-wall__grid--item--grip--bak:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Bak.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--sloper:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Sloper.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--crimp:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Crimp.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--pocket:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Pocket.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--jug:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Jug.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--undercling:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Undercling.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--mono:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Mono.svg) no-repeat center center / 100%;
}

.c-wall__grid--item--grip--bidoigt:after {
  content: '';
  position: relative;
  display: block;
  width: 16px;
  height: 16px;
  left: -8px;
  top: -8px;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/Bidoigt.svg) no-repeat center center / 100%;
}

.c-wall__svg {
  position: absolute;
  top: 0;
  left: 0;
  padding: 16px;
  width: 100%;
  height: 100%;
}

.js-path {
  stroke-dasharray: 5000;
  stroke-dashoffset: 5000;
  animation: path 2s linear forwards;
}

@keyframes path {
  to {
    stroke-dashoffset: 0;
  }
}

@media (min-width: 768px) {
  .c-wall {
    gap: 16px;
    padding: 32px;
  }

  .c-wall__svg {
    padding: 32px;
  }

  .c-wall__grid--item--grip::after {
    width: 24px;
    height: 24px;
    left: -12px;
    top: -12px;
  }
}

/*

  Wall options

*/
.c-wall__options {
  width: 100%;
  max-width: 302px;
  display: flex;
  flex-direction: column;
}

.c-wall__routes {
  width: 100%;
  padding: 24px;
  background-color: var(--global-color-alpha-xx-light);
  border-radius: 4px;
  box-shadow: 2px 2px 6px 0px var(--global-color-gray-xx-light);
}

.c-wall__routes--title {
  font-size: 24px;
  line-height: 1.5;
  font-weight: 700;
  text-decoration: none;
  text-align: center;
  color: var(--global-color-gray-xxxxx-dark);
  margin-bottom: 0;
}

.c-wall__routes--subtitle {
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  text-align: center;
  color: var(--global-color-gray-xxxxx-dark);
  margin-bottom: 16px;
}

.c-wall__routes--options {
  /* responive grid */
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(180px, 1fr));
  gap: 16px;
  margin-bottom: 16px;
}

.c-label--options {
  display: flex;
  flex-direction: column;
  padding: 16px;
  color: var(--global-color-gray-xxx-light);
  background-color: var(--global-color-alpha);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.c-option--hidden:checked+.c-label--options {
  background-color: var(--global-color-alpha-x-dark);
  color: var(--global-color-gray-xxxx-light);
  box-shadow: 0px 0px 0px 4px var(--global-color-beta-x-light);
}

.c-option--hidden:hover+.c-label--options,
.c-option--hidden:focus+.c-label--options {
  box-shadow: 0px 0px 0px 4px var(--global-color-beta);
}

.c-wall__star {
  fill: var(--global-color-gray-xxxx-light);
  width: 20px;
  height: 20px;
}

.c-wall__star--fill {
  fill: var(--global-color-beta);
}

.c-wall__rating--subtitle {
  font-size: 12px;
}

.c-wall__routes--goback {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px;
  text-decoration: none;
  color: var(--global-color-gray-xxxx-light);
  background-color: var(--global-color-alpha);
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1rem;
  transition: all 0.2s ease-in-out;
}

.c-wall__routes--goback:hover,
.c-wall__routes--goback:focus {
  background-color: var(--global-color-alpha-xx-dark);
  color: var(--global-color-gray-xxxx-light);
  box-shadow: 2px 2px 2px var(--global-color-alpha);
}

.c-wall__routes--goback:active {
  background-color: var(--global-color-alpha-x-dark);
}

@media (min-width: 768px) {
  .c-wall__routes {
    padding: 24px;
  }

  .c-wall__routes--title {
    font-size: 24px;
    line-height: 1.5;
    font-weight: 700;
  }

  .c-wall__routes--subtitle {
    font-size: 18px;
    line-height: 20px;
    font-weight: 400;
  }

  .c-wall__rating--title {
    font-size: 20px;
    line-height: 24px;
    margin-bottom: 8px;
  }

  .c-wall__rating--subtitle {
    margin-bottom: 4px;
  }

  .c-wall__rating--subtitle {
    font-size: 14px;
    font-weight: 200;
  }
}

.u-mb-xs {
  margin-bottom: 4px;
}

.u-mb-s {
  margin-bottom: 8px;
}

.c-wall__from {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.c-commend__add {
  padding: 24px;
}

.c-comment__area {
  font-family: 'Urbanist', sans-serif;
  font-size: 14px;
  outline: none;
  padding: 10px;
  width: 100%;
}

.c-commen__button {
  background-color: var(--global-color-alpha);
  border: none;
  border-radius: 4px;
  color: var(--global-color-gray-xxxx-light);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1rem;
  padding: 8px 16px;
  transition: all 0.2s ease-in-out;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.c-commen__button:focus,
.c-commen__button:hover {
  background-color: var(--global-color-alpha-xx-dark);
  color: var(--global-color-gray-xxxx-light);
  box-shadow: 2px 2px 2px var(--global-color-alpha);
}

.c-commen__button:active {
  background-color: var(--global-color-alpha);
}

.stars {
  cursor: pointer;
  display: flex;
  gap: 4px;
  padding: 4px 0;
}

.stars:hover .star path {
  fill: #ffd055 !important;
}

.star path {
  fill: #d8d8d8;
}

.star:hover~.star path {
  fill: #d8d8d8 !important;
}

.stars[data-stars] .star path {
  fill: #ffd055;
}


.stars[data-stars="1"] .star:nth-child(1)~.star path {
  fill: #d8d8d8;
}


.stars[data-stars="2"] .star:nth-child(2)~.star path {
  fill: #d8d8d8;
}


.stars[data-stars="3"] .star:nth-child(3)~.star path {
  fill: #d8d8d8;
}


.stars[data-stars="4"] .star:nth-child(4)~.star path {
  fill: #d8d8d8;
}


.stars[data-stars="5"] .star:nth-child(5)~.star path {
  fill: #d8d8d8;
}

.c-comment__header {
  margin-bottom: 8px;
}

.c-comments {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.c-comment {
  background-color: var(--global-color-alpha-xx-light);
  padding: 24px;
  box-shadow: 2px 2px 6px 0px var(--global-color-gray-xx-light);
  border-radius: 4px;
}

.c-comment-top {
  display: flex;
  align-items: center;
  margin-bottom: 8px;
}

.c-comment__name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.c-comment__date {
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
}

.c-comment__img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 16px;
  background-color: var(--global-color-beta);
  /* background: url(https://www.dmarge.com/wp-content/uploads/2021/01/dwayne-the-rock-.jpg) no-repeat center center / cover; */
  object-fit: cover;
}

.c-comment__stars {
  display: flex;
  gap: 4px;
  margin-bottom: 16px;
}

.c-comment__star {
  fill: var(--global-color-gray-xxx-light);
}

.c-comment__star--fill {
  fill: var(--global-color-beta);
}

.c-comment__text {
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
}

/*

  Dashboard

*/
.c-dashboard {
  min-height: 100dvh;
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 80px 1fr;
}

.c-dashboard__logo {
  background-color: var(--global-color-alpha-xx-dark);
  position: sticky;
  top: 0;
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  z-index: 1;
}

.c-dashboard__sidebar {
  background-color: var(--global-color-alpha-xx-dark);
  padding: 8px 0 8px 0;
  display: none;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-between;
  position: sticky;
  top: 80px;
  z-index: 1;
  height: calc(100dvh - 80px);
}

.c-dashboard__topbar {
  background-color: var(--global-color-alpha-xx-light);
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.04);
  position: sticky;
  top: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  z-index: 1;
}

.c-dashboard__main {
  padding: 16px;
  background-color: var(--global-color-gray-xxxx-light);
  grid-area: 2 / 1 / 2 / 2 span;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 48px;
}

@media (min-width: 992px) {
  .c-dashboard__main {
    flex-direction: row;
    padding: 64px;
  }
}

/* dashboard logo */
.c-db-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 48px;
  width: 48px;
  display: none;
}

.c-db-logo__symbol {
  width: 100%;
  height: 100%;
}

.c-dasboard__sidebar--top {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.c-db-label--options {
  display: flex;
  justify-content: center;
  padding: 16px 24px;
  border-radius: 100% 0 0 100%;
  cursor: pointer;
  background-image: none;
  transition: all 0.125s ease-in
}

.c-db-custom-option__symbol {
  width: 24px;
  height: 24px;
  stroke: var(--global-color-gray-xxxx-light);
  transition: all 0.125s ease-in
}

.c-db-option--hidden:checked+.c-db-label--options {
  background-color: var(--global-color-gray-xxxx-light);

}

.c-db-option--hidden:checked+.c-db-label--options .c-db-custom-option__symbol {
  stroke: var(--global-color-alpha-xx-dark);

}

.c-db-option--hidden:hover+.c-db-label--options,
.c-db-option--hidden:focus+.c-db-label--options {
  background-color: var(--global-color-alpha-x-dark);
}

.c-db-option--hidden:hover+.c-db-label--options .c-db-custom-option__symbol,
.c-db-option--hidden:focus+.c-db-label--options .c-db-custom-option__symbol {
  stroke: var(--global-color-gray-xxxx-light);
}

/*

mobile dasboard navbar

*/

.c-db-mobile-nav {
  position: fixed;
  top: 0;
  right: 0;
  left: -100%;
  height: 100dvh;
  pointer-events: none;
  transition: all 0.5s ease-in;
  z-index: 1;
}

.has-mobile-nav .c-db-mobile-nav {
  left: 0;
  pointer-events: auto;
}

.c-db-mobile-nav__header {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 24px;
}

.c-db-mobile-nav__bg {
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #202024;
  transition: opacity 0.5s ease;
}

.has-mobile-nav .c-db-mobile-nav__bg {
  opacity: 0.5;
}

.c-db-mobile-nav__body {
  position: relative;
  height: 80dvh;
  width: 80px;
  clip-path: polygon(0 0, 100% 0, 100% 72dvh, 0% 100%);
  background-color: var(--global-color-alpha-xx-dark);
  opacity: 0;
  transform: translateX(-100px);
  transition: transform 0.25s ease;
}

.has-mobile-nav .c-db-mobile-nav__body {
  opacity: 1;
  transform: translateX(0%);
}

@media (min-width: 992px) {
  .c-dashboard__sidebar {
    display: flex;
  }

  .c-db-logo {
    display: block;
  }

  .c-dashboard__main {
    grid-area: 2 / 2 / 2 / 2;
  }

  .c-dashboard__sidebar {
    padding: 24px 0 16px 0;
  }

  .c-db-label--options {
    padding: 18px 28px 18px 18px;
  }
}

.c-db__topbar--title {
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  color: var(--global-color-gray-xxxxx-dark);
  width: 175px;
}

.c-db__topbar__profile .c-nav__notification--symbole {
  stroke: var(--global-color-gray-xxxxx-dark);
}

@media (min-width: 768px) {
  .c-dashboard__topbar {
    padding: 0 20px;
  }

  .c-db__topbar--title {
    font-size: 24px;
    line-height: 32px;
    width: fit-content;
  }
}

@media (min-width: 992px) {
  .c-dashboard__topbar {
    padding: 0 24px;
  }

  .c-db__topbar--title {
    font-size: 28px;

  }
}


.u-opacity-half {
  opacity: 0.5;
}

.u-opacity-full {
  opacity: 1;
}

/* dashboard */
.c-db-wall {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  gap: 32px;
}

/*

  Account page

*/

.c-account {

  clip-path: polygon(0 0, 100% 0, 100% 80%, 0% 90%);
  display: flex;
  flex-direction: row;

  width: 100%;
  padding: 0 32px 32px;
  max-width: 350px;
}

.c-account__profile {
  background-color: var(--global-color-alpha-xx-light);
  border-radius: 3px;

}

.c-account__profile--background {
  width: 100%;
  height: 125px;
  background-color: var(--global-color-alpha);
  border-radius: 3px 3px 0 0;
}

.c-account__profile--img {
  /* background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/huygh.jpg) no-repeat center center / cover; */
  width: 120px;
  height: 120px;
  display: block;
  border-radius: 50%;
  border: 2px solid var(--global-color-alpha-xx-dark);
  margin: 0 auto;
  position: relative;
  top: -80px;
  object-fit: cover;
}

.c-account__logout {
  position: absolute;
  top: -10%;
  right: 20%;
  width: 36px;
  height: 36px;
  background-color: var(--global-color-alpha-x-light);
  border-radius: 50%;
}

.c-account__profile--meta {
  position: relative;
}

.c-account__logout::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/log-out.svg) no-repeat center center / 50%;
}

.c-account__content {
  padding: 24px;
  top: -80px;
  position: relative;
}

.c-account__profile--name {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
  color: var(--global-color-gray-xxxxx-dark);
  text-align: center;
}

.c-account__profile--nickname {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--global-color-gray-xxxxx-dark);
  text-align: center;
  margin-bottom: 8px;
}

.c-account__profile--biotitel {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  color: var(--global-color-gray-xxxxx-dark);
  margin-bottom: 4px;
}

.c-account__profile--bio {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  color: var(--global-color-gray-xxxx-dark);
  position: relative;
  margin-bottom: 4px;
}

.c-account__friends {
  display: block;
  margin-bottom: 16px;
}

.c-account__friends--text {
  font-size: 16px;
  font-weight: 500;
  line-height: var(--lh);
  color: var(--global-color-gray-xxxx-dark);
  text-align: center;
  margin-bottom: 0;
}

.c-account__friends--aantal {
  display: inline-block;
  font-size: 16px;
  line-height: 18px !important;
  font-weight: 700;
  line-height: 32px;
  color: var(--global-color-gray-xxxxx-dark);
  text-align: center;
  margin-bottom: 0;
}

.c-account__friends--buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 16px;
  margin-bottom: 16px;
}

.c-account__friend--search {
  font-size: 12px;
  line-height: 14px;
  padding: 4px 8px;
  max-width: 100px;
  background-color: transparent;
  outline: none;
  border: 2px solid var(--global-color-beta);
  transition: all 0.25s ease;
}

.c-account__friend--search:hover,
.c-account__friend--search:focus {
  background: var(--global-color-beta);
}

.c-account__friend--search:active {
  background: transparent;
}

.c-account__profile--edit {
  position: absolute;
  top: -22px;
  right: 0;
  width: 16px;
  height: 16px;
}

.c-account__profile--edit--symbol {
  width: 100%;
  height: 100%;
}

.c-account-content {
  position: relative;
  top: 100px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  max-width: 54em;
  margin: 0 auto;
}

.c-account__activities {
  padding: 0 32px;
}

.c-account__activities--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}

/*

  activity

*/

.c-activities {
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
}

.c-activity {
  display: flex;
  flex-direction: column;
  padding: 24px;
  background-color: var(--global-color-alpha-xx-light);
}

.c-activity__top {
  display: flex;
  justify-content: space-between;
  gap: 8px;
  margin-bottom: 16px;
  align-items: center
}

.c-activity__top--left {
  display: flex;
  flex-direction: row;
  align-items: center;

  gap: 8px;
}

.c-activity__top--img {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  background: url(https://klimapp2b47b.blob.core.windows.net/meeclimbimage/huygh.jpg) no-repeat center center / cover;
}

.c-activity__top--naam {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
  color: var(--global-color-gray-xxxxx-dark);
}

.c-activity__top--date {
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  color: var(--global-color-gray-xxxx-dark);
}

.c-activity__intro {
  font-size: 18px;
  font-weight: 700;
  margin-bottom: 4px;
}

.c-activity__stats {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.c-activity__stats--meta {
  font-weight: 500;
}

.c-activity__comment {
  margin-bottom: 16px;
}

.c-activity__line {
  height: 2px;
  width: 100%;
  background-color: var(--global-color-beta);
  display: block;
  margin-bottom: 16px;
}

.c-activity__comment--add {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

@media (min-width: 768px) {
  .c-account {
    max-width: 400px;
  }

  .c-account-content {
    flex-direction: row;
    align-items: flex-start;
  }
}

.c-activity__heart {
  width: 24px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.c-activity__heart--symbol {
  width: 100%;
  height: 100%;
}

.c-heart-checkbox:checked+.c-activity__heart .c-activity__heart--symbol {
  stroke: var(--global-color-beta);
  animation: heart 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.c-heart-checkbox:hover+.c-activity__heart .c-activity__heart--symbol {
  stroke: var(--global-color-beta-x-dark);
}

.c-nav__profile--meta {
  position: relative;
  top: -8px;
}

.c-nav__profileimg--meta {
  border-color: var(--global-color-gray-xxx-light);
  transition: all 0.25s ease;
}

.c-nav__profileimg--meta:hover {
  border-color: var(--global-color-beta);
}

.c-dashboard__grips {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(125px, 1fr));
  gap: 16px;
  align-items: center;
  max-width: 302px;
  margin: 0 auto;
}

.c-grip-add {
  display: flex;
  flex-direction: column;
  padding: 16px;
  background-color: var(--global-color-alpha-xx-light);
  border-radius: 3px;
  flex-basis: auto;
  min-width: 75px;
  box-shadow: 2px 2px 6px 0px var(--global-color-gray-xx-light);
}

.c-grip-add__title {
  font-size: 18px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0px;
}

.c-grip-add__label {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}

.c-grip-add__symbol {
  padding: 8px;
  width: 100%;
  height: 100%;
}

.c-grip-add__button {
  border: none;
  outline: none;
  padding: 4px 8px;
  background-color: transparent;
  font-size: 12px;
  border: 2px solid var(--global-color-beta);
}

.c-grip-add__button:hover {
  background-color: var(--global-color-beta-x-light);
}

.c-grip-add__button:active {
  background-color: var(--global-color-beta);
}

.c-form__setting {
  height: fit-content;
  padding: 24px;
  background-color: var(--global-color-alpha-xx-light);
  position: relative;
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;
  box-shadow: 2px 2px 6px 0px var(--global-color-gray-xx-light);
}

.c-form__setting--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  text-align: center;
  margin-bottom: 0px;
}

.c-form__inputs {
  display: flex;
  flex-direction: column;
}

.c-form__input {
  font-family: inherit;
  padding: 8px 10px;
  margin-bottom: 8px;
  border: none;
  border-radius: 3px;
  background-color: var(--global-color-gray-xxxx-light);
  outline: none;
}

.c-form__input::placeholder {
  color: var(--global-color-gray-xxx-dark);
}

.c-form__input:hover {
  box-shadow: 0 0 0 2px var(--global-color-beta);
}

.c-form__input--label {
  position: relative;
  left: 8px;
}

.c-form__input--color {
  width: 33%;
  height: 40px;
  border-radius: 3px;
  margin-bottom: 8px;
  padding: 0;
  background: none;
  margin-bottom: 0;
}

.c-form__input--buttons {
  display: flex;
  gap: 8px;
}

.c-form__input--button {
  border: none;
  outline: none;
  padding: 4px 8px;
  background-color: transparent;
  font-size: 12px;
  border: 2px solid var(--global-color-beta);
  width: 100%;
}

.c-form__input--button--meta {
  border: none;
}

.c-form__input--button:hover,
.c-form__input--button:focus {
  background: var(--global-color-beta-x-light);
}

.c-form__input--button:active {
  background: var(--global-color-beta);
}

.c-form__input--button--delete:hover,
.c-form__input--button--delete:focus {
  background: var(--global-color-alpha-x-light);
}

.c-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  max-width: 302px;
  width: 100%;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .c-form {
    margin: 0;
  }
}

.c-custom-select {
  position: relative;
}

.c-input {
  appearance: none;
  outline: 0;
  border: 0;
  box-shadow: none;
  /* Personalize */
  padding: 8px;
  color: #fff;
  font-family: inherit;
  background-color: var(--global-color-alpha-x-dark);
  background-image: none;
  cursor: pointer;
  position: relative;
}

.c-custom-select__symbol {
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  pointer-events: none;
}

.c-label__select {
  margin-bottom: 4px;
}

.c-custom-select__symbol {
  width: calc(var(--global-baseline) * 3);
  height: calc(var(--global-baseline) * 3);
  fill: var(--global-color-gray-xxxx-light);
  position: absolute;
  right: 12px;
  top: 12px;
  pointer-events: none;
}

.c-ranking {
  display: flex;
  flex-direction: column;
  gap: 32px;
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  position: relative;
  top: 220px;
}

.c-ranking__podium {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.c-ranking__podium--place {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  max-width: 100px;
  background-color: var(--global-color-alpha-xx-light);
  position: relative;
  box-shadow: 2px 2px 6px 0px var(--global-color-gray-xx-light);
}


.c-ranking__podium--place:nth-child(1) {
  background: #c8c1eba6;
}

.c-ranking__podium--place:nth-child(2) {
  background: #c8c1eb;
}

.c-ranking__podium--place:nth-child(3) {
  background: #c8c1eb53;
}

.c-ranking__second {
  height: 225px;
}

.c-ranking__first {
  height: 300px;
}

.c-ranking__third {
  height: 150px;
}

.c-ranking__podium--place {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.c-ranking__podium--place p {
  position: relative;
  top: 20px;
}

.c-ranking__podium--img {
  position: absolute;
  top: -71px;
  left: 31.25px;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  object-fit: cover;
}

.c-ranking__podium--img--crown {
  top: -116px;
  border-radius: 0;
  animation: crown 1s linear infinite;
  fill: var(--global-color-beta);
}

@keyframes crown {
  0% {
    transform: rotate(0deg) translate(0, 0);
  }

  25% {
    transform: rotate(10deg) translate(10px, -5px);
  }

  50% {
    transform: rotate(0deg) translate(0, 0);
  }

  75% {
    transform: rotate(-10deg) translate(-10px, -5px);
  }

  100% {
    transform: rotate(0deg) translate(0, 0);
  }
}

.c-ranking__podium-de {
  position: absolute;
  top: -8px;
  right: -16px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.c-ranking__podium-ste {
  position: absolute;
  top: -8px;
  right: -24px;
  font-weight: 500;
  font-size: 18px;
  line-height: 18px;
}

.c-ranking__podium--nummer {
  font-size: 32px;
  font-weight: 700;
  line-height: 32px;
  margin-bottom: 16px;
}

.c-ranking__podium--name {
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.c-ranking__podium--sec {
  font-size: 16px;
  font-weight: 400;
  line-height: 18px;
}


@media (min-width: 992px) {
  .c-ranking {
    top: 275px;
  }

  .c-ranking__podium--place {
    max-width: 200px;
  }

  .c-ranking__podium--img {
    top: -91px;
    left: 62.5px;
    width: 75px;
    height: 75px;
  }

  .c-ranking__podium--img--crown {
    top: -166px;
  }

  .c-ranking__podium--nummer {
    font-size: 48px;
    line-height: 48px;
    margin-bottom: 16px;
  }

  .c-ranking__podium--name {
    font-size: 18px;
    line-height: 24px;
  }

  .c-ranking__podium--sec {
    font-size: 18px;
    line-height: 24px;
  }
}

.u-pr {
  position: relative;
}

.c-ranking__select {
  display: flex;
  gap: 16px;
}

.c-ranking__item {
  clip-path: polygon(0 0, 100% 0, 90% 100%, 0% 100%);
  width: 100%;
  background-color: var(--global-color-alpha-xx-light);
  border-radius: 3px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 16px;
}

.c-ranking__item div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.c-ranking__item p {
  padding: 8px 16px;
}

.c-ranking__item--sec {
  position: relative;
  right: 40px;
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;

}

.c-ranking__item--nummer {
  font-size: 18px;
  font-weight: 500;
  line-height: 24px;
}

.c-ranking__item--name {
  font-size: 18px;
  font-weight: 400;
  line-height: 24px;
}

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
        http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: ' ('attr(href) ')';
  }

  abbr[title]:after {
    content: ' ('attr(title) ')';
  }

  /*
    * Don't show links that are fragment identifiers,
    * or use the `javascript:` pseudo protocol
    */
  a[href^='#']:after,
  a[href^='javascript:']:after {
    content: '';
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
    * Printing Tables:
    * http://css-discuss.incutio.com/wiki/Printing_Tables
    */
  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}

.c-community {
  position: relative;
  top: 150px;
  margin: 0 auto;
  max-width: 300px;
}

.c-community--title {
  font-size: 24px;
  font-weight: 700;
  line-height: 24px;
  margin-bottom: 16px;
}


@media (min-width: 768px) {
  .c-community {
    max-width: 700px;
  }

  .c-community--title {
    font-size: 36px;
    font-weight: 700;
    line-height: 36px;
    margin-bottom: 16px;
  }
}

@media (min-width: 992px) {

  .c-community--title {
    font-size: 48px;
    font-weight: 700;
    line-height: 48px;
    margin-bottom: 16px;
  }
}

.c-community__item {
  padding: 32px;
  background-color: var(--global-color-alpha-xx-light);
}

.c-community__item--topbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}



.c-community__item--avatar {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  margin-right: 16px;
  object-fit: cover;
}

.c-community__item--topbar--left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.c-community__item--topbar--name {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.c-community__item--topbar--date {
  font-size: 16px;
  font-weight: 200;
  line-height: 18px;
  color: var(--global-color-gray-xxxx-dark);
}


.c-community__heart {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  cursor: pointer;
}

.c-heart-checkbox:checked+.c-community__heart .c-community__heart--symbol {
  stroke: var(--global-color-beta);
  animation: heart 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

.c-heart-checkbox:hover+.c-community__heart .c-community__heart--symbol,
.c-heart-checkbox:focus+.c-community__heart .c-community__heart--symbol {
  stroke: var(--global-color-beta-x-dark);
}

@keyframes heart {
  0% {
    transform: scale(1) rotate(0);
  }

  25% {
    transform: scale(1.1) rotate(33deg);
  }

  50% {
    transform: scale(1.2) rotate(0);
  }

  75% {
    transform: scale(1.1) rotate(-33deg);
  }

  100% {
    transform: scale(1) rotate(0);
  }
}

.c-community--bar {
  display: block;
  width: 100%;
  height: 4px;
  background-color: var(--global-color-beta);
}

.c-community__stats {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
  margin-bottom: 24px;
}

.c-community__stat {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.c-community__stat--titel {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  margin-bottom: 8px;
}

.c-community__stat--value {
  font-size: 16px;
  font-weight: 700;
  line-height: 25px;
}

.c-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 100;
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.c-overlay--rope {
  background-color: var(--global-color-alpha-xx-light);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
  padding: 32px;
  border-radius: 3px;
  border: 2px solid var(--global-color-alpha-xx-dark);

}

.c-activity-user__comnments {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
}

.c-activity-user__comnment {
  border: 1px solid var(--global-color-alpha-xx-dark);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  border-radius: 3px;
  padding: 16px;
}

.c-activity-user__comnment--user {
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
}

.c-activity-user__comnment--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}

.c-activity-user__comnment--date {
  font-size: 14px;
  font-weight: 200;
  line-height: 18px;
  color: var(--global-color-gray-xxxx-dark);
}

.c-activity-user__comnment--top {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.c-overlay--friend-sug {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 8px;
  background: var(--global-color-alpha-x-dark);
  color: var(--global-color-gray-xxx-light);
  border-radius: 3px;
  margin-bottom: 8px;
}

.c-notification {
  display: none;
  position: absolute;
  top: 80px;
  right: 45px;
  max-width: 300px;
}

.c-notification--topbar {
  clip-path: polygon(70% 80%, 78% 0%, 86% 80%, 100% 80%, 100% 100%, 0 100%, 0 80%);
  background: var(--global-color-alpha-xx-light);
  width: 100%;
  height: 20px;
  position: relative;
  top: 2px;
  border: 10px 10px 0 10px solid var(--global-color-alpha-xx-dark);
}

.c-notification--top {
  display: flex;
  width: 100%;
  justify-content: space-between;
}

.c-notification--content {
  background: var(--global-color-alpha-xx-light);
  padding: 16px;
  border: 10px 10px 0 10px solid var(--global-color-alpha-xx-dark);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.25);
}

.c-notification--text {
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
  margin-bottom: 8px;
}

.c-notification--title {
  font-size: 16px;
  font-weight: 700;
  line-height: 20px;
}

.c-notification--close {
  text-decoration: none;
  color: var(--global-color-gray-xxxxx-dark);
}

.c-notification--buttons {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  gap: 8px;

}

.c-notification--button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 4px;
  border-radius: 3px;
  border: none;
  font-size: 14px;
  font-weight: 700;
  line-height: 18px;
  color: var(--global-color-gray-xxxx-light);
  background: var(--global-color-alpha);
  cursor: pointer;
}

.u-display--none {
  display: block !important;
}